@import "tailwindcss";

@font-face {
  font-family: 'MekSans';
  src: url('/fonts/meksans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MekMono';
  src: url('/fonts/mekmono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'MekSans';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333d02;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333d02;
}